/* 
    Document   : estilos
    Created on : 13-nov-2012
    Author     : mscarceller
    Description:
        Hoja de estilos de la kata 3 en raya
*/

#cabecera {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: #F1F1EF;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    border: 4px dashed #369;
}
#titulo{
    text-align: center;
    color: #369;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
}

#turno{
    text-align: center;
    margin-bottom: 30px;
}


#opciones{
    text-align: center; 
    alignment-adjust: middle;
    border: 1px solid black; 
    color: #369;
    font-weight: bold;
    font-size: 15px;
}

.tabla {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #03476F; 
}

.tabla td{
    border: 1px dotted #03476F;
    width:40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}
.tdX{
    border:1px solid #000000;
    width:40px;
    height: 40px;
    color: #369;
    text-align: center;
    font-size: 30px;
}
.tdO{
    border:1px solid #000000;
    width:40px;
    height: 40px;
    color: #DF0101;
    text-align: center;
    font-size: 30px;
}

